In [14]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

file = r'C:\Users\umut\Desktop\Proje\FirstPart_200801.xlsx'
df = pd.read_excel(file, sheet_name='Sheet1')

df=df.drop(columns=['Term','Max Capacity','Enrollment'])

df['Subj'] =df['Subj'].astype(str) + ' ' + df['Numb'].astype(str) #delete space
df.drop(columns=['Numb'],inplace=True)

sort_by_ID=df.sort_values('ID')
sort_by_ID=sort_by_ID.reset_index(drop=True)

df

          ID Student_Level     Subj Section
0       9194            UG  ACC 301       0
1       9208            UG  ACC 301       0
2       9233            UG  ACC 301       0
3       9410            UG  ACC 301       0
4       9416            UG  ACC 301       0
5       9426            UG  ACC 301       0
6       9529            UG  ACC 301       0
7       9552            UG  ACC 301       0
8       9680            UG  ACC 301       0
9       9696            UG  ACC 301       0
10      9748            UG  ACC 301       0
11      9781            UG  ACC 301       0
12      9820            UG  ACC 301       0
13      9870            UG  ACC 301       0
14      9884            UG  ACC 301       0
15      9893            UG  ACC 301       0
16      9909            UG  ACC 301       0
17      9968            UG  ACC 301       0
18      9972            UG  ACC 301       0
19      9974            UG  ACC 301       0
20      9991            UG  ACC 301       0
21      9993            UG  ACC 301       0
22     10007            UG  ACC 301       0
23     10038            UG  ACC 301       0
24     10090            UG  ACC 301       0
25     10100            UG  ACC 301       0
26     10178            UG  ACC 301       0
27     10179            UG  ACC 301       0
28     10288            UG  ACC 301       0
29     10315            UG  ACC 301       0
...      ...           ...      ...     ...
24702  12592            SP   VA 545       0
24703  12593            SP   VA 545       0
24704   9283            MA   VA 591       0
24705  11157            MA   VA 591       0
24706  11164            MA   VA 591       0
24707  11173            MA   VA 591       0
24708  11176            MA   VA 591       0
24709   9015            MA   VA 599       0
24710   9087            MA   VA 599       0
24711   9283            MA   VA 599       0
24712   9377            MA   VA 599       0
24713  10476            MA   VA 599       0
24714  11157            MA   VA 599       0
24715  11164            MA   VA 599       0
24716  11173            MA   VA 599       0
24717  11176            MA   VA 599       0
24718   9161            UG  VIS 310       0
24719   9277            UG  VIS 310       0
24720   9789            UG  VIS 310       0
24721   9876            UG  VIS 310       0
24722   9933            UG  VIS 310       0
24723  11945            XU  VIS 310       0
24724   9165            DR  VIS 510       0
24725   9322            SP  VIS 510       0
24726   9377            MA  VIS 510       0
24727   9610            SP  VIS 510       0
24728   9787            SP  VIS 510       0
24729  11152            MA  VIS 510       0
24730  11164            MA  VIS 510       0
24731  12613            MA  VIS 510       0

[24732 rows x 4 columns]

In [15]:
sort_by_Subj=df.sort_values('Subj')
subj_nm=[sort_by_Subj.iat[0,2]]
prev=subj_nm[0]
rowCount=len(df.index)

for i in range (rowCount):
    if(prev != sort_by_Subj.iat[i,2]):
        prev=sort_by_Subj.iat[i,2]
        subj_nm.append(prev)
subj_nm

['ACC 301',
 'ACC 301R',
 'ACC 404',
 'ACC 405',
 'ACC 501',
 'ACC 551',
 'ACC 901',
 'ANTH 465',
 'ANTH 471',
 'ANTH 565',
 'ANTH 571',
 'ARA 301',
 'ARA 303',
 'ARA 501',
 'ARA 503',
 'BIO 303',
 'BIO 303L',
 'BIO 310',
 'BIO 310R',
 'BIO 321',
 'BIO 321L',
 'BIO 332',
 'BIO 332L',
 'BIO 403',
 'BIO 415',
 'BIO 452',
 'BIO 480',
 'BIO 501',
 'BIO 503',
 'BIO 511',
 'BIO 532',
 'BIO 541',
 'BIO 543',
 'BIO 543L',
 'BIO 551',
 'BIO 570',
 'BIO 580',
 'BIO 590',
 'BIO 606',
 'BIO 680',
 'BIO 790',
 'CHEM 301',
 'CHEM 301L',
 'CHEM 505',
 'CIP 101',
 'CIP 102',
 'CIP 201',
 'CIP 202',
 'CIP 301',
 'CIP 302',
 'CONF 501',
 'CONF 511',
 'CONF 531',
 'CONF 534',
 'CONF 541',
 'CONF 592',
 'CONF 593',
 'CONF 597',
 'CONF 599',
 'CS 201',
 'CS 201R',
 'CS 301',
 'CS 301R',
 'CS 302',
 'CS 302R',
 'CS 303',
 'CS 303L',
 'CS 303R',
 'CS 307',
 'CS 307R',
 'CS 402',
 'CS 403',
 'CS 403L',
 'CS 404',
 'CS 405',
 'CS 405L',
 'CS 504',
 'CS 507',
 'CS 525',
 'CS 534',
 'CS 535',
 'CS 543',
 'CS 551',
 'CS 590',
 'CS 680',
 'CS 790',
 'CULT 201',
 'CULT 355',
 'CULT 391',
 'CULT 434',
 'CULT 500',
 'CULT 502',
 'CULT 590',
 'CULT 599',
 'ECON 201',
 'ECON 201R',
 'ECON 202',
 'ECON 202R',
 'ECON 204',
 'ECON 204R',
 'ECON 301',
 'ECON 301R',
 'ECON 320',
 'ECON 330',
 'ECON 330R',
 'ECON 360',
 'ECON 405',
 'ECON 407',
 'ECON 450',
 'ECON 491',
 'ECON 501',
 'ECON 503',
 'ECON 505',
 'ECON 526',
 'ECON 591',
 'ECON 607',
 'ECON 691',
 'ECON 699',
 'ECON 703',
 'ECON 711',
 'ECON 799',
 'EE 521',
 'EE 550',
 'EE 551',
 'EE 560',
 'EE 561',
 'EE 562',
 'EE 567',
 'EE 569',
 'EE 573',
 'EE 575',
 'EE 584',
 'EE 590',
 'EE 628',
 'EE 634',
 'EE 654',
 'EE 680',
 'EE 684',
 'EE 790',
 'EECS 790',
 'EL 303',
 'EL 303R',
 'EL 305',
 'EL 305R',
 'EL 401',
 'EL 401L',
 'EL 404',
 'EL 404R',
 'EL 407',
 'EL 407R',
 'EL 473',
 'EL 473L',
 'ENG 101',
 'ENS 202',
 'ENS 202R',
 'ENS 203',
 'ENS 203L',
 'ENS 203R',
 'ENS 205',
 'ENS 205R',
 'ENS 208',
 'ENS 208R',
 'ENS 211',
 'ENS 211R',
 'ENS 315',
 'ENS 491',
 'ENS 492',
 'ENS 505',
 'ENS 512',
 'ENS 521',
 'ES 500',
 'ES 501',
 'ES 507',
 'ES 599',
 'FILM 331',
 'FILM 435',
 'FILM 435L',
 'FILM 535',
 'FILM 535L',
 'FIN 301',
 'FIN 301R',
 'FIN 401',
 'FIN 402',
 'FRE 101',
 'FRE 201',
 'FRE 301',
 'GER 101',
 'GER 201',
 'GER 301',
 'GER 403',
 'HART 414',
 'HART 425',
 'HART 433',
 'HART 514',
 'HART 525',
 'HART 623',
 'HIST 191',
 'HIST 227',
 'HIST 345',
 'HIST 349',
 'HIST 385',
 'HIST 485',
 'HIST 500',
 'HIST 501',
 'HIST 503',
 'HIST 511',
 'HIST 561',
 'HIST 585',
 'HIST 599',
 'HIST 600',
 'HIST 682',
 'HIST 699',
 'HIST 714',
 'HIST 715',
 'HIST 762',
 'HUM 201',
 'HUM 202',
 'HUM 202D',
 'HUM 204',
 'HUM 204D',
 'HUM 206',
 'HUM 211',
 'HUM 212',
 'HUM 212D',
 'HUM 221',
 'IE 501',
 'IE 512',
 'IE 551',
 'IE 553',
 'IE 580',
 'IE 590',
 'IE 592',
 'IE 680',
 'IE 790',
 'IR 201',
 'IR 201D',
 'IR 342',
 'IR 391',
 'IR 402',
 'IR 493',
 'IT 511',
 'IT 524',
 'IT 530',
 'IT 553',
 'ITA 101',
 'ITA 201',
 'ITA 301',
 'ITM 501',
 'ITM 511',
 'ITM 521',
 'ITM 531',
 'ITM 535',
 'ITM 545',
 'ITM 592',
 'JAP 101',
 'JAP 201',
 'JAP 301',
 'LAW 310',
 'LIT 371',
 'LIT 394',
 'LIT 440',
 'LIT 540',
 'MAT 307',
 'MAT 307R',
 'MAT 312',
 'MAT 312L',
 'MAT 401',
 'MAT 401L',
 'MAT 402',
 'MAT 408',
 'MAT 416',
 'MAT 501',
 'MAT 509',
 'MAT 511',
 'MAT 511L',
 'MAT 516',
 'MAT 521',
 'MAT 551',
 'MAT 560',
 'MAT 590',
 'MAT 592',
 'MAT 790',
 'MATH 101',
 'MATH 101R',
 'MATH 102',
 'MATH 102R',
 'MATH 201',
 'MATH 201R',
 'MATH 203',
 'MATH 203R',
 'MATH 301',
 'MATH 306',
 'MATH 306R',
 'MATH 317',
 'MATH 414',
 'MATH 501',
 'MATH 505',
 'MATH 506',
 'MATH 509',
 'MATH 511',
 'MATH 551',
 'MATH 571',
 'MATH 590',
 'MATH 615',
 'MATH 617',
 'MATH 622',
 'MATH 790',
 'ME 301',
 'ME 301R',
 'ME 303',
 'ME 303R',
 'ME 307',
 'ME 307R',
 'ME 308',
 'ME 308L',
 'ME 403',
 'ME 403R',
 'ME 407',
 'ME 407L',
 'ME 409',
 'ME 409R',
 'ME 551',
 'ME 590',
 'ME 592',
 'ME 790',
 'MFIN 500',
 'MFIN 501',
 'MFIN 504',
 'MFIN 506',
 'MFIN 510',
 'MFIN 511',
 'MFIN 513',
 'MFIN 514',
 'MFIN 516',
 'MFIN 591',
 'MGMT 201',
 'MGMT 201R',
 'MGMT 202',
 'MGMT 202R',
 'MGMT 401',
 'MGMT 404',
 'MGMT 407',
 'MGMT 409',
 'MGMT 499',
 'MGMT 500',
 'MGMT 501',
 'MGMT 503',
 'MGMT 510',
 'MGMT 511',
 'MGMT 541',
 'MGMT 591',
 'MGMT 593',
 'MGMT 596',
 'MGMT 599',
 'MGMT 900',
 'MGMT 901',
 'MGMT 903',
 'MGMT 905',
 'MKTG 301',
 'MKTG 402',
 'MKTG 404',
 'MKTG 406',
 'MKTG 521',
 'MKTG 522',
 'MKTG 901',
 'MRES 603',
 'MRES 700',
 'MS 302',
 'MS 302R',
 'MS 304',
 'MS 304R',
 'MS 307',
 'MS 309',
 'MS 309R',
 'MS 403',
 'MS 403R',
 'MS 409',
 'MS 409R',
 'MS 412',
 'MS 412R',
 'MS 415',
 'MS 415R',
 'MS 454',
 'MS 454R',
 'MS 481',
 'MS 481L',
 'NS 101',
 'NS 101R',
 'NS 102',
 'NS 102R',
 'NS 201',
 'NS 201R',
 'NS 206',
 'NS 207',
 'NS 207L',
 'NS 501',
 'OPIM 301',
 'OPIM 301R',
 'OPIM 302',
 'OPIM 302R',
 'OPIM 501',
 'OPIM 523',
 'OPIM 529',
 'OPIM 530',
 'OPIM 551',
 'ORG 301',
 'ORG 302',
 'ORG 551',
 'ORG 627',
 'ORG 902',
 'PHYS 303',
 'PHYS 303R',
 'PHYS 412',
 'PHYS 492',
 'PHYS 501',
 'PHYS 511',
 'PHYS 511R',
 'PHYS 531',
 'PHYS 580',
 'PHYS 614',
 'POLS 251',
 'POLS 301',
 'POLS 352',
 'POLS 353',
 'POLS 392',
 'POLS 425',
 'POLS 455',
 'POLS 473',
 'POLS 495',
 'POLS 502',
 'POLS 525',
 'POLS 530',
 'POLS 530D',
 'POLS 543',
 'POLS 549',
 'POLS 550',
 'POLS 553',
 'POLS 592',
 'POLS 599',
 'POLS 610',
 'POLS 697',
 'POLS 699',
 'POLS 799',
 'PROJ 102',
 'PSY 302',
 'RUS 101',
 'SOC 201',
 'SOC 201D',
 'SPA 101',
 'SPA 201',
 'SPA 301',
 'SPS 101',
 'SPS 101D',
 'SPS 303',
 'SPS 303D',
 'SPS 501',
 'TE 301',
 'TE 301R',
 'TE 303',
 'TE 303R',
 'TE 401',
 'TE 401R',
 'TE 404',
 'TE 404R',
 'TE 405',
 'TE 405R',
 'TE 407',
 'TE 407L',
 'TE 409',
 'TE 409L',
 'TE 410',
 'TLL 101',
 'TLL 301',
 'TLL 501',
 'TUR 101',
 'TUR 102',
 'VA 201',
 'VA 202',
 'VA 203',
 'VA 215',
 'VA 301',
 'VA 323',
 'VA 325',
 'VA 331',
 'VA 332',
 'VA 333',
 'VA 335',
 'VA 401',
 'VA 431',
 'VA 433',
 'VA 439',
 'VA 441',
 'VA 500',
 'VA 501',
 'VA 503',
 'VA 529',
 'VA 538',
 'VA 539',
 'VA 542',
 'VA 545',
 'VA 591',
 'VA 599',
 'VIS 310',
 'VIS 510']

In [ ]:
#2 lilerin hepsini çıkar

tempID=sort_by_ID.iat[0,0]
myArray = [[0] * len(subj_nm) for i in range(len(subj_nm))]

for i in range(rowCount):
    first_i=i
    while(i!=rowCount-1 and sort_by_ID.iat[i+1,0] == tempID):
        i=i+1
        temp1=subj_nm.index(sort_by_ID.iat[first_i,2])
        temp2=subj_nm.index(sort_by_ID.iat[i,2])
        myArray[temp1][temp2]= myArray[temp1][temp2] + 1
        myArray[temp2][temp1]= myArray[temp2][temp1] + 1
        #add 1 to first_i subj x i subj   +   i subj x first_i subj
        
    
    
    if(i!=rowCount-1  and  sort_by_ID.iat[first_i,0] != sort_by_ID.iat[first_i+1,0]):
        tempID=sort_by_ID.iat[first_i+1,0]

In [24]:
pairs_index=[]
pairs_numOfStu=[]

def my_index(obj, L):
    try:
        return L.index(obj)
    except ValueError:
        return -1

    
tempID=sort_by_ID.iat[0,0]

for i in range(rowCount):
    first_i=i
    index_first=str(subj_nm.index(sort_by_ID.iat[first_i,2]))
    
    while(i!=rowCount-1 and sort_by_ID.iat[i+1,0] == tempID):
        i=i+1
        index_second=str(subj_nm.index(sort_by_ID.iat[i,2]))
        
        try1=my_index((index_first+','+index_second),pairs_index)
        try2=my_index((index_second+','+index_first),pairs_index)
        
        if( try1 ==-1 and try2==-1):
            pairs_index.append((index_first+','+index_second))   #string indexfirst +','+string indexsecond
            pairs_numOfStu.append(1)
        else:
            if(try1 != -1):
                pairs_numOfStu[try1]=pairs_numOfStu[try1]+1
            else:
                pairs_numOfStu[try2]=pairs_numOfStu[try2]+1
    
    
    if(i!=rowCount-1  and  sort_by_ID.iat[first_i,0] != sort_by_ID.iat[first_i+1,0]):
        tempID=sort_by_ID.iat[first_i+1,0]
    
list_= pd.DataFrame ({'Pairs':pairs_index,'Total_Students':pairs_numOfStu})
list_

         Pairs  Total_Students
0      418,419               3
1      242,241              18
2      242,240              18
3      242,243              18
4      241,240              18
5      241,243              18
6      240,243              18
7        27,30               4
8        27,29              10
9        27,34              13
10       30,29               5
11       30,34               8
12       29,34              16
13     407,353               7
14     407,278               4
15     407,280               3
16     353,278               4
17     353,280               3
18     278,280               3
19     446,447              50
20      446,89               4
21     446,260               2
22     446,197               5
23     446,472               4
24      447,89               4
25     447,260               2
26     447,197               5
27     447,472               4
28      89,260               5
29      89,197               4
...        ...             ...
11478   53,432               1
11479   53,434               1
11480   53,431               1
11481   429,51               1
11482   432,51               1
11483   431,51               1
11484  415,419               1
11485  415,418               2
11486  395,419               1
11487  395,418               1
11488  416,419               1
11489  416,418               2
11490  451,215               1
11491  215,452               1
11492  196,260               1
11493  452,260               1
11494  260,471               1
11495  260,451               1
11496   260,44               1
11497   260,86               1
11498  260,386               1
11499  260,387               1
11500  113,332               1
11501  113,329               1
11502  332,111               1
11503  329,111               1
11504  386,163               1
11505  386,162               1
11506  163,387               1
11507  162,387               1

[11508 rows x 2 columns]

In [33]:
list_.sort_values('Total_Students',inplace=True,ascending=False)
list_.reset_index(drop=True,inplace=True)

list_

         Pairs  Total_Students
0      196,471             594
1      451,452             593
2      451,471             554
3      452,471             554
4      196,452             551
5      451,196             551
6      282,283             521
7      387,386             504
8      288,289             504
9      196,387             478
10     386,196             478
11     387,471             478
12     386,471             478
13     283,387             477
14     282,386             477
15     283,386             477
16     282,387             477
17     387,451             476
18     386,451             476
19     387,452             476
20     386,452             476
21     451,283             473
22     451,282             473
23     283,452             473
24     452,282             473
25     282,471             471
26     471,283             471
27     196,282             470
28     283,196             470
29     152,471             461
...        ...             ...
11478   66,448               1
11479   66,482               1
11480   63,482               1
11481  373,341               1
11482  201,421               1
11483  288,380               1
11484  153,411               1
11485  154,411               1
11486  410,153               1
11487  410,154               1
11488  222,483               1
11489  223,483               1
11490   482,64               1
11491   482,65               1
11492   482,67               1
11493   448,65               1
11494   448,67               1
11495   157,47               1
11496   47,156               1
11497   47,312               1
11498   47,307               1
11499   47,308               1
11500   47,310               1
11501   47,311               1
11502  244,224               1
11503  484,224               1
11504  145,397               1
11505  454,381               1
11506  288,466               1
11507  266,190               1

[11508 rows x 2 columns]

In [34]:
print(subj_nm[152])
print(subj_nm[471])

ENG 101
TLL 101